.hero__wrap {
  position: relative;
  padding: 188px 0 226px 0;
}

.hero__content {
  max-width: 650px;
}

.hero__title {
  margin: 40px 0;
}

.hero__accent {
  display: inline-block;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    width: 160px;
    height: 50px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $primary;
    opacity: .7;
    z-index: -1;
  }
}

.hero-search__form {
  display: flex;
  margin-bottom: 30px;
  max-width: 600px;
  padding: 12px;
  background: $w;
  box-shadow: 10px 20px 40px rgba(195, 199, 197, 0.1);
  border-radius: 10px;
}

.hero-search__btn {
  margin-left: 10px;
}

.recent-search {
  display: flex;
  align-items: center;
}

.recent-search__text {
  color: $primary;
  font-weight: 500;
  margin-right: 20px;
}

.recent-search__list {
  display: flex;
  margin: 0 -4px;
}

.recent-search__item {
  padding: 0 5px;
  margin: 0 4px;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 2px;

  a {
    color: $text-medium;
    opacity: 0.6;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }
}

.hero__bg {
  &-figure {
    position: absolute;
    content: '';
    right: -32px;
    bottom: 10px;
    z-index: -3;
  }
  &-icon {
    position: absolute;
    content: '';
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -15px;
    top: 258px;
    border-radius: 50%;
    background-color: $w;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.06);
    z-index: -2;
  }
  &-image {
    position: absolute;
    content: '';
    width: 905px;
    height: 840px;
    bottom: 0px;
    right: -152px;
    z-index: -1;
  }
}

.hero-card {
  position: absolute;
  right: -52px;
  bottom: 72px;
  padding: 30px;
  font-weight: 500;
}

.hero-card__title {
  color: $text-light2;
  margin: 0;
  margin-bottom: 12px;
}

.hero-card__list {
  display: flex;
  align-items: center;
}

.hero-card__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  margin-left: -13.5px;
  background-color: $primary-light;
  border-radius: 50%;
  overflow: hidden;

  &:first-child {
    margin-left: 0;
  }
}