$text-dark: #183B56;
$text-medium: #3F475C;
$text-light: #5A7184;
$text-light2: #92AABD;
$primary: #FF8345;
$primary-light: #FFE7DB;
$accent: #7BC678;
$bg1: #36B37E;
$bg2: #F3F6FB;
$border: #EDEDED;
$category-hover: rgba(#B3BAC5, 0.1);
$w: #fff;
$b: #000;