include ../layout/mixins

doctype html
html
    head
        title Agencico
        link(rel='stylesheet' href='static/css/style.css')
    body
        .root
          include ../layout/header
          include ../layout/partners
          include ../layout/categories
          
    script(src='static/js/libs.min.js')
    script(src='static/js/script.js')
