doctype html
html
    head
        title Yan Logan
        link(rel='stylesheet' href='static/css/style.css')
    body
        .root
          
    script(src='static/js/libs.min.js')
    script(src='static/js/script.js')
