header.header-main
  header.header
    .container
      .header__wrap
        .header__logo
          include ../../static/img/logo.svg
        nav.header-nav
          ul.header-nav__list
            li.header-nav__item
              a(href='#categories') Categories
            li.header-nav__item
              a(href='#jobs') Jobs
            li.header-nav__item
              a(href='#how') How it works
            li.header-nav__item
              a(href='#testimonial') Testimonial
        .header-btns
          +btn('Register', 'secondary', 'header-btns__item')
          +btn('Sign in', 'primary', 'header-btns__item')
  section.hero
    .container
      .hero__wrap
        .hero__content
          h1.hero__title 
            | Find Every 
            span.hero__accent Job 
            | in One Platform
          .hero-search
            form.hero-search__form
              +input('Job / Position or Location', 'search', 'hero-search__input')
              +btn('Search', 'accent', 'hero-search__btn')
            .recent-search
              span.recent-search__text Recent Search:
              ul.recent-search__list
                li.recent-search__item
                  a(href="#") Design
                li.recent-search__item
                  a(href="#") UI/UX
                li.recent-search__item
                  a(href="#") Product
                li.recent-search__item
                  a(href="#") Graphic
        .hero__bg
          .hero__bg-figure
            include ../../static/img/hero-figure.svg
          i.hero__bg-icon
            +icon('shield')
          picture.hero__bg-image
            img(src="../../static/img/hero-image.png", alt="hero-image")
        .hero-card.tooltip
          p.hero-card__title 20k+ People Find Job!
          ul.hero-card__list
            li.hero-card__item
              img(src="../../static/img/people-1.jpg", alt="")
            li.hero-card__item
              img(src="../../static/img/people-2.jpg", alt="")
            li.hero-card__item
              img(src="../../static/img/people-3.jpg", alt="")
            li.hero-card__item
              img(src="../../static/img/people-4.jpg", alt="")
            li.hero-card__item +
            