section.partners
  .container
    .partners__wrap
      ul.partners__list
        li.partners__item
          a(href="#") 
            img(src="../../static/img/brand-1.png", alt="brand 1")
        li.partners__item
          a(href="#") 
            img(src="../../static/img/brand-2.png", alt="brand 2")
        li.partners__item
          a(href="#") 
            img(src="../../static/img/brand-3.png", alt="brand 3")
        li.partners__item
          a(href="#") 
            img(src="../../static/img/brand-4.png", alt="brand 4")
        li.partners__item
          a(href="#") 
            img(src="../../static/img/brand-5.png", alt="brand 5")
      